<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/menu.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="preload">
    <header class="header">
        <button class="header__button" id="btnNav" type="button">
            <i class="material-icons">menu</i>
        </button>
    </header>
    <nav class="nav">
        <div class="nav__links">
            <a class="nav__link" href="">
                Antipasto
            </a>
            <a class="nav__link" href="#brusch">
                Mini Bruschettas
            </a>
            <a class="nav__link" href="#salumeria">
                Salumeria
            </a>
            <a class="nav__link" href="#queijos">
                Queijos
            </a>
            <a class="nav__link" href="#sliders">
                Burger Sliders
            </a>
            <a class="nav__link" href="#sandwiches">
                Paninis & Sandwiches
            </a>
            <a class="nav__link" href="#forno">
                No Forno
            </a>
            <a class="nav__link" href="#sobremesas">
                Sobremesas
            </a>
        </div>
        <div class="nav__overlay"></div>
    </nav>
    <main>
        <div id="menu" class="menu">
            <h1>Menu IVV</h1>
            <br>
            <h2>*antipasto</h2>
                <h3>guioza suina – 26</h3>
                <p>guioza recheada com carne suína & molho agridoce</p>
                <h3>soupe a l’oignon - 24</h3>
                <p>sopa de cebola tradicional servida com brioche & imperial gratinado</p>
                <h3>medjool assadas - 27</h3>
                <p> tâmaras recheadas com gorgonzola envoltas com bacon</p>
                <h3>linguiça calabresa - 29</h3>
                <p>linguiça calabresa defumada cebola caramelizada na stout & honey mustard</p>
                <h3>mini croque madame - 28</h3>
                <p id="brusch">lombo, mozarela & ovo de codorna</p>
            <h2>*mini bruschettas</h2>
                <h3>bruschetta clássica - 20</h3>
                <p>tomate, alho & manjericão</p>
                <h3>crostini de brie - 26</h3>
                <p>damasco, mel & castanha</p>
                <h3>bruschetta de cogumelos - 28</h3>
                <p>cogumelos sortidos, creme de ricota & salsa fresca</p>
                <h3>bruschetta de lombo - 24</h3>
                <p id="salumeria">gorgonzola, picked de dedo-de-moça & mostarda</p>
            <h2>*salumeria</h2>
                <h3>copa marinada - 26</h3>
                <p>laranja & funcho</p>
                <h3>salami el diablo - 25</h3>
                <p>pimenta do reino & calabresa</p>
                <h3>pancetta - 27</h3>
                <p>barriga de porco curada e seca</p> 
                <h3>lombo suíno cozido</h3>
                <p>com ervas finas - 22</p>
                <p>com pimenta calabresa- 22</p>
                <h3>jamon serrano - 35</h3>
                <p>pernil espanhol curado</p>
                <h3>tábua da salumeria- 65</h3>
                <p>degustação da nossa seleção</p>
                <p id="queijos">
                    *carnes curadas servidas com
                    crostini, mostarda & giardiniera
                </p>
            <h2>*queijos</h2>
                <h3>tropeiro - 29</h3>
                <p>maturado por 4 meses, sabor suave coberto de cinza vegetal</p>
                <h3>simental - 28</h3>
                <p>maturado por 2 meses, urucum</p>
                <h3>fernão - 41</h3>
                <p>10 meses de maturação, sabor pronunciado, textura amanteigada</p>
                <h3>raízes - 26</h3>
                <p>queijo rústico, feito de leite cru, sabor suave, com textura macia</p>
                <h3>gorgonzola - 24</h3>
                <p>massa cremosa, sabor agradável e aroma intenso</p>
                <h3>garnizé - 27</h3>
                <p>maturado por 2 meses, ervas finas</p>
                <h3>brie - 25</h3>
                <p>servido com geleia de abacaxi com pimenta</p>
                <h3>parmesão argentino - 24</h3>
                <p>de textura dura e arenosa, com um sabor suave</p>
                <h3>tábua de queijos - 69</h3>
                <p>degustação de nossa seleção</p>
                <p id="sliders">
                    *queijos servidos com mel
                    castanhas & frutas secas
                </p>
            <h2>*burger sliders</h2>
                <h3>3 mini hambúrgueres (60g cada) - 36</h3>
                <p>
                    1-clássico cheseeburger
                    tomate, mozarela & mayo
                </p>
                <p>
                    2- big blue
                    gorgonzola & cebola caramelizada
                </p>
                <p id="sandwiches">
                    3- bacon-x
                    provolone & bacon
                </p>
            <h2>*panini & sandwich</h2>
                <h3>queijo quente ivv - 20</h3>
                <p>mistura de 4 queijos</p>
                <h3>mediterrâneo - 24</h3>
                <p>
                    salame, tapenade, provolone
                    tomates & manjericão
                </p>
                <h3>boudoir - 25</h3>
                <p>copa, brie, maçã verde & mostarda ivv</p>
                <h3>carnívoro – 24</h3>
                <p>jamon serrano, copa, salami, pancetta, lombo mozarela, salsa fresca & cebola roxa caramelizada</p>
                <h3>blue smurf - 29</h3>
                <p>cogumelos sortidos, gorgonzola & cebolas caramelizadas com malbec</p>
                <h3>choripan - 22</h3>
                <p>cipriota loukaniko, linguiça suína marinada com vinho tinto, servido com clássico chimichurri</p>
                <h3>sandwich de carne de lata – 29</h3>
                <p>carne de lata desfiada, mozarela picles de cebola roxa & rúcula</p>
                <h3>quesadilla IVV – 26</h3>
                <p id="forno">tortilla, carne suína desfiada tempero cajun & pico de gallo</p>
            <h2>*no forno</h2>
                <h3>leitoa escondida - 34</h3>
                <p>purê de aipim, leitoa desfiada & queijos</p>
                <h3>BBQ pork ribs – 44</h3>
                <p>costela suína marinada ao molho barbecue de tamarindo com pimenta de macaco & picles de maxixe</p>
                <h3>eisbein desossado - 38</h3>
                <p>joelho suíno defumado, duo de mostardas & molho picante</p>
                <h3>carne de lata IVV– 39</h3>
                <p>produzida na casa, cubos suínos, molho de tamarindo com pimentas & farofa da casa</p>
                <h3>escondidinho de shimeji - 37</h3>
                <p>shimeji desfiado, purê de mandioca & 4 queijos</p>
            <h2 id="sobremesas">*sobremesas</h2>
                <h3>tartelette de frutas vermelhas - 20</h3>
                <p>anglaise, compota de frutas vermelhas, suspiro & manjericão</p>
                <h3>bolinho de chuva IVV – 20</h3>
                <p>feito com farinha de jatobá, açúcar & canela, recheado com goiabada</p>
        </div>
    </main>
    <script>

        window.addEventListener("load", () => {
            document.body.classList.remove("preload");
        });

        document.addEventListener("DOMContentLoaded", () => {
    const nav = document.querySelector(".nav");

    document.querySelector("#btnNav").addEventListener("click", () => {
        nav.classList.add("nav--open");
    });

    document.querySelector(".nav__overlay").addEventListener("click", () => {
        nav.classList.remove("nav--open");
    });
    
    
    document.querySelector(".nav__links").addEventListener("click", () => {
        nav.classList.remove("nav--open");
    });
});
    </script>
</body>
</html>